//- Все примеси в этом файле должны начинаться c имени блока (thumb)

mixin thumb(imgUrl, linkUrl, mods)

	//- Принимает:
	//-   imgUrl* {string}   - источник картинки
	//-   linkUrl {string}    - ссылка для перехода
	//- Вызов:
				+thumb('img/joker.jpg', "/gallery.html")
	
	-
		// список модификаторов
		var allMods = '';
		if(typeof(mods) !== 'undefined' && mods) {
			var modsList = mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' thumb_' + modsList[i].trim();
			}
		}

	- if (typeof(imgUrl) !== 'undefined')
		- if (typeof(linkUrl) !== 'undefined')
			.thumb(class=allMods)&attributes(attributes)
				a.thumb__zoom.i-ui-btn-rnd(href=imgUrl, data-fancybox)
				a.thumb__img(href=linkUrl, style='background-image: url("'+ imgUrl +'")')
				//- img.thumb(src=url, alt=alt, width=width, height=height)&attributes(attributes)
		- else
			.thumb(class=allMods)&attributes(attributes)
				a.thumb__zoom.i-ui-btn-rnd(href=imgUrl, data-fancybox)
				.thumb__img(style='background-image: url("'+ imgUrl +'")')

	- else
		// Не передан источник изображения
		
