//- Все примеси в этом файле должны начинаться c имени блока (thumb)

mixin thumb(props)
	//- Принимает:
	//-  {
	//-   	imgUrl* {string}   - источник картинки
	//-   	linkUrl {string}    - ссылка для перехода
	//- 	isBg    {bool}  	- вывод картинки в виде img или как bg
	//- 	mods {string}       - модификаторы
	//- Вызов:
				+thumb({
					imgUrl: 'img/joker.jpg',
					linkUrl: '/gallery.html',
					isBg: '',
					mods: ''
				})
	
	-
		// список модификаторов
		var allMods = '';
		if(typeof(props.mods) !== 'undefined' && props.mods) {
			var modsList = props.mods.split(',');
			for (var i = 0; i < modsList.length; i++) {
				allMods = allMods + ' thumb_' + modsList[i].trim();
			}
		}


	- if (typeof(props.imgUrl) !== 'undefined')
		- if (typeof(props.linkUrl) !== 'undefined')
			- if (typeof(props.isBg) !== 'undefined' && props.isBg)
				.thumb(class=allMods)&attributes(attributes)
					a.thumb__img(href=props.linkUrl, style='background-image: url("'+ props.imgUrl +'")')

			- else
				.thumb(class=allMods)&attributes(attributes)
					a(href=props.linkUrl)
						img(src=props.imgUrl, alt=alt)
		- else
			.thumb(class=allMods)&attributes(attributes)
				.thumb__img(style='background-image: url("'+ props.imgUrl +'")')

	- else
		// Не передан источник изображения
		